body{
  margin: 0;
  padding: 0;
}

.navbar ul{
  height: 90px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1F7A8C;
}

.navbar li{
  float: left;
  width: 25%;
}

.navbar li a.Logo{
  padding: 10px;
}

.navbar li a{
  font-size: 4rem;
  font-weight: bold;
  text-decoration: none;
  display: block;
  color: rgba(255, 255, 0, 1);
  text-align: center;
  padding: 20px 0;
  text-shadow: 3px 3px 5px black;
}

.navbar li:hover{
  background-color: #123456;
}

.Assignements {
  height: 599.5px;
  width: 20%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: #1F7A8C;
  overflow-x: hidden;
  border-style: solid;
  border-width: 5px;
  margin: 0;
  padding: 0;
}


.AssignmentText {
  font-size: 20px;
}

.MathBox {
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 5px;
  width: 79%;
  height: 200px;
  font-size: 60px;
  background-color: #BFDBF7;
}

.EnglishBox {
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 5px;
  width: 79%;
  height: 200px;
  font-size: 60px;
  background-color: #BFDBF7;
}

.NorwegianBox {
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 5px;
  width: 79%;
  height: 200px;
  font-size: 60px;
  background-color: #BFDBF7;
}

.MathBox a {
  color: #A31621;
}


.EnglishBox a {
  color: #A31621;
}

.NorwegianBox a {
  color: #A31621;}
.sendmelding button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
