body{
  margin: 0;
  padding: 0;
}

/* ---------------------------------------------- */
/* --Navbar-------------------------------------- */
/* ---------------------------------------------- */
.navbar ul{
  height: 60px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1F7A8C;
}

.navbar li{
  float: left;
  width: 25%;
}

.navbar li a.Logo{
  padding: 10px;
}

.Logo img{
  width: 120px;
}

.navbar li a, .navbar li div{
  font-size: 4rem;
  font-weight: bold;
  text-decoration: none;
  display: block;
  color: rgba(255, 255, 0, 1);
  text-align: center;
  padding: 20px 0;
  text-shadow: 3px 3px 5px black;
}

.navbar li:hover{
  background-color: #123456;
}

.navbar li .dropdown-content {
  display: none;
  position: absolute;
  background-color: #1F7A8C;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.navbar li .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar li .dropdown-content a:hover {background-color: #123456;}

.navbar li .dropdown:hover .navbar li .dropdown-content {display: block;}


/* ---------------------------------------------- */
/* --Home--------------------+------------------ */
/* ---------------------------------------------- */



.headline h1{
  text-align: center;
  color: black;
  font-weight: bold;
}

.message1 span{
  text-align: center;
  color: rgba(255, 255, 0, 1);
  text-shadow: 3px 3px 5px black;
  font-size: 30px;
  padding-top: 5%;
}

.message2 span{
  text-align: center;
  color: rgba(255, 255, 0, 1);
  text-shadow: 3px 3px 5px black;
   font-size: 30px;
  padding-top: 5%;
}

.message3 span{
  text-align: center;
  color: rgba(255, 255, 0, 1);
  text-shadow: 3px 3px 5px black;
   font-size: 30px;
  padding-top: 5%;
}

.feedbox{
  width: 40%;
  background-color: #1F7A8C;
  margin-left: 30%;
  margin-right: 30%;
  height: 25em;
  border-radius: 15px;
}

.message1 {
  position: relative;
  display: inline-block;
  padding-left: 25%;
  padding-top: 5%;
  cursor: pointer;

}
.drop1 {
  display: none;
  position: absolute;
  background-color: #123456;
  color: rgba(255, 255, 0, 1);
  width: 114.5%;
  border-radius: 15px;
  padding: 5 px 16px;
  z-index: 1;

}

.message1:hover .drop1{
  display: block;
  font-size: 20px;

}

.message2 {
  position: relative;
  display: inline-block;
  padding-left: 25%;
  padding-top: 5%;
  cursor: pointer;
}

.drop2 {
  display: none;
  position: absolute;
  width: 114.5%;
  border-radius: 15px;
  color: rgba(255, 255, 0, 1);
  background-color: #123456;
  padding: 5 px 16px;
  z-index: 1;
}

.message2:hover .drop2{
  display: block;
  font-size: 20px;
}


.message3 {
  position: relative;
  display: inline-block;
  padding-left: 25%;
  padding-top: 5%;
  cursor: pointer;
}

.drop3 {
  display: none;
  position: absolute;
  background-color: #123456;
  color: rgba(255, 255, 0, 1);
  width: 114.5%;
  border-radius: 15px;
  padding: 5 px 16px;
  z-index: 1;
}

.message3:hover .drop3{
  display: block;
  font-size: 20px;
}


.nymelding {
  position: absolute;
  top: 50%;
  right: 10%;
}

.nymelding button{
  font-size: 20px;
}

.nymelding button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.privatemessage {
  width:20%;
  background-color: #1F7A8C;
  height: 15em;
  position: absolute;
  top: 59.3%;
  right: 5.8%;
  border-radius: 15px;
}

.privatemessage p{
  color: rgba(255, 255, 0, 1);
  text-shadow: 3px 3px 5px black;
  text-align: left;
  padding-left: 7%;
  font-size: 20px;
  padding-top: 1%;
}

.melding {
  background-color: #123456;
  padding-bottom: 30%;
  font-style: italic;
  font-size: 15px;
}

.sendmelding {
  position: absolute;
  top: 90%;
  right: 10.5%;
  padding-top: 0.7%;
}

.sendmelding button {
  font-size: 18px;
}

.sendmelding button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
